<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘记密码</title>
    <link rel="stylesheet" href="http://localhost:3000/css/forget.css">
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.css">
</head>
<body>
    <div class="content">

        <div class="web-width">
       
         <div class="for-liucheng">
       
          <div class="liulist for-cur"></div>
       
          <div class="liulist for-cur"></div>
       
          <div class="liulist for-cur"></div>
       
          <div class="liulist for-cur"></div>
       
          <div class="liutextbox">
       
           <div class="liutext for-cur"><em>1</em><br />
       
            <strong>填写账户名</strong></div>
       
           <div class="liutext for-cur"><em>2</em><br />
       
            <strong>验证身份</strong></div>
       
           <div class="liutext for-cur"><em>3</em><br />
       
            <strong>设置新密码</strong></div>
       
           <div class="liutext for-cur"><em>4</em><br />
       
            <strong>完成</strong></div>
       
          </div>
       
         </div>
       
         <form action="/" method="POST" class="forget-pwd">
       
        
            <span>返回登录界面：</span>
            <br>
          <div class="btn btn-success" style="margin-left:  160px;">
            
       
            <button><a href="http://localhost:3000/login">返回</a></button>
        
           </div>
       
         </form>
       
        </div>
       
       </div>
</body>
</html>