<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘记密码</title>
    <link rel="stylesheet" href="http://localhost:3000/css/forget.css">
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.css">
    <script src="http://localhost:3000/js/jquery.min.js"></script>
</head>
<body>
    <div class="content">

        <div class="web-width">
       
         <div class="for-liucheng">
       
          <div class="liulist for-cur"></div>
       
          <div class="liulist for-cur"></div>
       
          <div class="liulist for-cur"></div>
       
          <div class="liulist"></div>
       
          <div class="liutextbox">
       
           <div class="liutext for-cur"><em>1</em><br />
       
            <strong>填写账户名</strong></div>
       
           <div class="liutext for-cur"><em>2</em><br />
       
            <strong>验证身份</strong></div>
       
           <div class="liutext for-cur"><em>3</em><br />
       
            <strong>设置新密码</strong></div>
       
           <div class="liutext"><em>4</em><br />
       
            <strong>完成</strong></div>
       
          </div>
       
         </div>
       
         <div class="forget-pwd">
       
          <dl>
       
           <dt>新密码</dt>
       
           <dd>
       
            <input type="password" name="password" id="password"/>
       
           </dd>
       
           <div class="clears"></div>
       
          </dl>

          <dl>
       
            <dt>重复密码</dt>
        
            <dd>
        
             <input type="password" id="repassword"/>
        
            </dd>
        
            <div class="clears"></div>
        
           </dl>
       
          
           <div class="btn btn-info" style="margin-left:  160px;">
       
            <button id="next">下一步</button>
        
           </div>
       
         </div>
       
        </div>
       
       </div>
</body>
</html>
<script>
    $("#next").click(function(){

        if($("#password").val()!=$("#repassword").val()){
            alert("两次密码不一致");
            return;
        }
        $.post("/student_forget_password/3",{"password":$("#password").val()},function(data){
            if(data.status == 1){
                alert("密码修改成功")
                window.location = "/student_forget_password/4"
            }
        })
    })

    function warnFun(dom,value) {
    dom.parent().addClass("has-error");
    dom.siblings("div.control-label").remove();
    dom.after("<div class='control-label'>"+value+"</div>")
  }
</script>