<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生查询界面</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
      .regist{
        border: 1px solid #eee;
        padding: 0 20px 20px 20px;
  
        margin-top:30px;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
      }
      .regist h2{
        margin-bottom: 20px;
        font-size: 24px;
      }
      .strongBox {
        margin: 10px 0;
        padding: 5px 8px;
        font-size: 12px;
      }
      
      * {
        font-family: 'Righteous',cursive;
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">学生成绩查询</a>
        </div>
        
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style="margin-right:50px">
            <li ><a href="/">首页</a></li>
            <li ><a href="/query_score">总成绩查询</a></li>
            <li><a href="/query_result">成绩报告</a></li>
            <li class="active"><a href="/query_rank">排名</a></li>
          </ul>
  
          <ul class="nav navbar-nav" style="margin-right:50px">
            <li ><a href="#">你好 <%= username %> 同学</a></li>
            <li ><a href="/login"> 退出</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div >
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped table-hover dataTable" role="grid"
            aria-describedby="example1_info">
            <thead>
              <tr>
                <th aria-label="课程名称" style="width: 175.4px;">总成绩</th>
                <th aria-label="成绩" style="width: 128.68px;">年段排名</th>
              </tr>
            </thead>
            <tbody id="showdata">
              
            </tbody>
          </table>
        </div>
      </div>
    <script src="http://localhost:3000/js/jquery.min.js"></script>
</body>
</html>
<script>
    function loadData(){
    $.get("/q_rank2",function(data){
      if(data.status == "success"){
        $("#showdata").empty();
        for(var i = 0 ; i < data.data.length; i ++){
          new DataItem(data.data[i]);
        }
      }
    })
  }
  
  function DataItem(item) {
    this.$dom = $("<tr><td>"+item.total+"</td><td>"+item.rnk+"</td></tr>");
    $("#showdata").append(this.$dom);
  }

loadData();
</script>