<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="showdata">

    </div>
</body>
</html>
<script src="http://localhost:3000/js/jquery.min.js"></script>
<script>
    $.ajax({
        type : "GET" ,
        url : "/get_score_date",
        success : function(data){
            console.log(data);
            $("#showdata").empty();
            for (const i in data) {
                $("#showdata").append(`<a href="/sForm/:${data[i].did}" target='_blank'>${data[i].dname}</a><p>`)
            }
        }
    })
</script>