<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table Display</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between mb-3">
            <h2>学生列表</h2>
            <button class="btn btn-primary" id="addDataBtn" data-toggle="modal" data-target="#CreateOrder">成绩录入</button>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="showData">
                <!-- 数据列表 -->
            </tbody>
        </table>
    </div>

    <!-- 新增数据模态框 -->
    <div class="modal fade" id="CreateOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">添加成绩</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sno">学号</label>
                    <input  id="sno" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="name">姓名</label>
                    <input  id="name" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="course">学科</label>
                    <select  class="form-control"  id="course" >
                    </select>
                </div>
                <div class="form-group">
                    <label for="score">成绩</label>
                    <input  id="score" class="form-control" required>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" id="confirm">创建</button>
            </div>
          </div>
        </div>
    </div>


     <!-- 订单数据详情模态框 -->
     <div class="modal fade" id="StudentDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">成绩详情</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>学科</th>
                    <th>成绩</th>
                    <th>评价</th>
                </tr>
            </thead>
            <tbody id="showDetail">
                <!-- 数据列表 -->
            </tbody>
            </table>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>
<script>

    // 加载表格数据
    function load(){

        $.get("/api/get-all-student",function (data){
            if (data.code == 200){
                    $("#showData").empty()
                    for (const key in data.data) {
                        newRows = `
                            <tr>
                                <td>${data.data[key][0]}</td>
                                <td>${data.data[key][1]}</td>
                                <td><button class="btn btn-primary detail" data-toggle="modal" data-target="#StudentDetail" data-id=${data.data[key][0]} >查看详情</button></td>
                            </tr>
                        `
                        $("#showData").append(newRows)
                    }
            }
        })

    }

    load()

    $("#addDataBtn").click(function (){
        $.get("/api/get-course",function (data){
            if (data.code == 200){
                console.log(data.data)
                for(var i = 0 ; i < data.data.length; i ++){
                new DataOption_course(i,data.data[i]);
            }}
        })
    })

    // 判断该学号学生是否存在
    $("#sno").blur(function(){
      $.ajax({
      "type": "POST",
      "url": "/api/check-student",
      "contentType": 'application/json;',
      "data": JSON.stringify({
        "id": $("#sno").val()
      }),
      "success": function (data) {
          console.log(data)
          if (data.data != null){
              $("#name").val(data.data[0])
          }else{
              $("#name").val("该学号学生不存在")
          }
      }
    })})


    // 添加成绩
    $("#confirm").click(()=>{
       $.ajax({
      "type": "POST",
      "url": "/api/add-score",
       "headers":{
          "token" : $.cookie("id")
       },
      "contentType": 'application/json;',
      "data": JSON.stringify({
        "id":$("#sno").val(),
        "subject":$("#course").val(),
        "score":$("#score").val()
      }),
      "success": function (data) {
        if (data.code == 200){
            alert("添加成功")
        }
      }
    })
})

    // 学生成绩展示
    $("#showData").delegate(".detail","click",function(){
        $.ajax({
            "type": "POST",
            "url": "/api/get-student-score",
           "headers":{
              "token" : 4
           },
            "contentType": 'application/json;',
            "data": JSON.stringify({
                "id":$(this).data("id"),
            }),
            "success":function (data){
                $("#showDetail").empty()
                console.log(data);
                for (const key in data.data) {
                    $("#showDetail").append(`
                           <tr>
                                <td>${data.data[key][0]}</td>
                                <td>${data.data[key][1]}</td>
                                <td>${data.data[key][2]}</td>
                           </tr>
                    `)
                }
            }
        })
    })


    function DataOption_course(i,item) {
      this.$dom = $("<option>"+item[0]+"</option>");
      $("#course").append(this.$dom);
    }
</script>
