<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人页面</title>
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.css">
    <link href="http://localhost:3000/assets/css/global-plugins.css" rel="stylesheet">
    <!-- <link href="http://localhost:3000/jquery-icheck/skins/all.css" rel="stylesheet" /> -->
   
    

    <!-- This page plugin css start -->
    <link href="http://localhost:3000/assets/vendors/maps/css/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/vendors/morris-chart/morris.css" rel="stylesheet" >
    <link href="http://localhost:3000/assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="http://localhost:3000/assets/vendors/jquery-ricksaw-chart/css/rickshaw.css" rel="stylesheet"/>
    <link href="http://localhost:3000/assets/css/flot-chart.css" rel="stylesheet"/>
    <!-- This page plugin css end -->

    <!-- Custom styles for this template -->
    <link href="http://localhost:3000/assets/css/theme.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/style-responsive.css" rel="stylesheet"/>
    <link href="http://localhost:3000/assets/css/class-helpers.css" rel="stylesheet"/>

    <!--Color schemes-->
    <link href="http://localhost:3000/assets/css/colors/green.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/colors/turquoise.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/colors/blue.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/colors/amethyst.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/colors/cloud.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/colors/sun-flower.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/colors/carrot.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/colors/alizarin.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/colors/concrete.css" rel="stylesheet">
    <link href="http://localhost:3000/assets/css/colors/wet-asphalt.css" rel="stylesheet">

    <!--Fonts-->
    <link href="http://localhost:3000/assets/fonts/Indie-Flower/indie-flower.css" rel="stylesheet" />
    <link href="http://localhost:3000/assets/fonts/Open-Sans/open-sans.css?family=Open+Sans:300,400,700" rel="stylesheet" />
</head>
<body>
    <aside>
        <div id="sidebar" class="nav-collapse md-box-shadowed">
            <!-- sidebar menu start-->
            <div class="leftside-navigation leftside-navigation-scroll">
                <ul class="sidebar-menu" id="nav-accordion" style="padding-top: 40px">
                    <li class="sidebar-profile">
                        
                        <div class="profile-main">
                            <p class="text-right profile-options"><i class="profile-options-open icon-options-vertical fa-2x"></i></p>
                            <p class="image">
                                <img alt="image" src="http://localhost:3000/assets/images/profile.jpg" width="80">
                                <span class="status"><i class="fa fa-circle text-success"></i></span>
                            </p>
                            <p>
                                <span class="name"><%= username%></span><br>
                                <span class="position" style="font-family: monospace;">Administrator</span>
                            </p>
                        </div>
                        <li class=' '><a href="/teacher/myself" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar icon-home fa-2x'></span><span>个人资料</span></a>
                        </li>
                        <li class='sub-menu '><a href='/teacher/t_appeal' class="hvr-bounce-to-right-sidebar-parent active"><span class='icon-sidebar pe-7s-note fa-2x'></span><span>申诉详情</span></a>
                        </li>
                    </li>
                </ul>
            </div>
    </aside>

    <section id="main-content">
           
        <div>
            <div class="col-sm-12">
              <table id="example1" class="table table-bordered table-striped table-hover dataTable" role="grid"
                aria-describedby="example1_info">
                <thead>
                  <tr role="row">
                    <th aria-label="成绩" style="width: 128.68px;">学生班级</th>
                    <th aria-label="成绩" style="width: 128.68px;">学生学号</th>
                    <th aria-label="成绩" style="width: 100px;">学生姓名</th>
                    <th aria-label="课程名称" style="width: 90px;">申诉科目</th>
                    <th aria-label="课程名称" style="width: 70px;">申诉成绩</th>
                    <th aria-label="成绩" style="width: 200px;">申诉内容</th>
                    <th aria-label="成绩" style="width: 100px;">处理状态</th>
                    <th aria-label="成绩" style="width: 128.68px;">操作</th>
                  </tr>
                </thead>
                <tbody id="showdata">
                  
                </tbody>
              </table>
            </div>
        </div>         
    </section>
    
</body>
</html>
<script src="http://localhost:3000/js/jquery.min.js"></script>
<script>
function loadData(){
    $.get("/teacher/t_deal_appeal",function(data){
        console.log(data.data)
      if(data.status == "success"){
        $("#showdata").empty();
        for(var i = 0 ; i < data.data.length; i ++){
          new DataItem(data.data[i],i);
        }
      }
    })
  }
  
function DataItem(item,i) {
    var done = null;
    if(item.done ==0){
        done="未处理"
        this.$dom = $("<tr><td>"+item.class+"</td><td>"+item.sno+"</td><td>"+item.realname1+"</td><td>"+item.ap_course+"</td><td><b id=b"+i+">"+item.ap_score+"</b><input data-course="+item.ap_course+" data-sno="+item.sno+" id=i"+i+" class='patchVal' style='display:none' value="+item.ap_score+" type='text'></td><td>"+item.ap_reason+"</td><td>"+done+"</td><td><button class='btn btn-warning deal' data-sno="+item.sno+" data-course="+item.ap_course+" data-id="+i+">处理</button><button style='margin-left:5px' class='btn btn-danger deal_back' data-sno="+item.sno+" data-course="+item.ap_course+" >驳回</button></td></tr>");
    } 
    $("#showdata").append(this.$dom);
}

loadData();

$("#showdata").delegate(".deal","click",function(){
  var num = $(this).data("id")
  $("#b"+num+"").hide();
  $("#i"+num+"").show();
})
$("#showdata").delegate(".patchVal","blur",function(){
    alert("操作正在进行中，请稍候 ....");
    $(this).hide();
    $(this).siblings("b").show();
    $.ajax({
        type:"POST",
        url : "/teacher/t_deal_appeal",
        data : {"sno":$(this).data("sno"),"course":$(this).data("course"),"score":$(this).val()},
        success : function(data){
            if(data.status == "success"){
                alert("操作成功");
                loadData();
            }
        }
    })
})

$("#showdata").delegate(".deal_back","click",function(){
    alert("操作正在进行中，请稍候 ....");
    $.ajax({
        type:"POST",
        url : "/teacher/t_deal_back",
        data : {"sno":$(this).data("sno"),"course":$(this).data("course")},
        success : function(data){
            if(data.status == "success"){
                alert("操作成功");
                loadData();
            }
        }
    })
})
</script>