<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div id="showdata">

    </div>
</body>
</html>
<script src="http://localhost:3000/js/jquery.min.js"></script>
<script>
    $.ajax({
        type : "GET" ,
        url : "/teacher/get_score_date",
        success : function(data){
            console.log(data);
            $("#showdata").empty();
            for (const i in data) {
                $("#showdata").append(`<a href="/teacher/sForm/:${data[i].did}">${data[i].dname}</a><p>`)
            }
        }
    })
</script>
